{% extends 'sobnushdi/sobnushdi.html' %}

{% block content %}
{% if request.user.is_authenticated %}
<form action="{% url 'statement_mod' pk %}" method="post">
    {% csrf_token %}
    <table>
        <tr>
            <th>Заявитель</th>
            <th>Заявление</th>
            <th>Отапливаемое помещение</th>
        </tr>
        <tr class="tab_statement_mod">
            <td>
                    {{ person }}
            </td>
            <td>
                    {{ form_add_statement.as_p }}
            </td>
            <td>
                    {{ form_add_heated_promise.as_p }}
            </td>
        </tr>
    </table>

    <button type="submit">Изменить</button>
    <form action="{% url 'statements_list' %}" method="get">
              <button type="reset" onclick="document.location='{% url 'statements_list' %}'">Отмена</button>
    </form>
</form>
{% else %}
<p>Авторизуйтесь</p>
 {% endif %}
{% endblock %}