{% extends 'les/main_menu.html' %}

{% block content %}

<form action="{% url 'organization_add' %}" method="post">
    {% csrf_token %}
    <table>
        <tr>
            <th colspan="5">Добавить организацию</th>
        </tr>
        <tr>
            <th colspan="2">Название организации</th>
            <td>{{ form_add_organization }}</td>
            <td>{{ form_add_organization_validity_period_start }}</td>
            <th colspan="2">Реквизиты организации</th>
            <td>{{ form_add_organization_details }}</td>
            <td>{{ form_add_organization_details_validity_period_start }}</td>
            <th colspan="2">Банковские реквизиты организации</th>
            <td>{{ form_add_bank_detail }}</td>

        </tr>
    </table>


    <button type="submit">Добавить</button>
    <form action="{% url 'organizations_list' %}" method="get">
        <button type="reset" onclick="document.location='{% url 'organizations_list' %}'">Отмена</button>
    </form>
</form>

{% endblock %}