{% extends 'les/main_menu.html' %}

{% block content %}

<form action="{% url 'organization_add' %}" method="post">
    {% csrf_token %}
    <table>
        <tr>
            <th>Добавить организацию</th>
        </tr>
        <tr>
            <td>{{ form_add_organization.as_p }}</td>
        </tr>
    </table>


    <button type="submit">Добавить</button>
    <form action="{% url 'organizations_list' %}" method="get">
        <button type="reset" onclick="document.location='{% url 'organizations_list' %}'">Отмена</button>
    </form>
</form>

{% endblock %}