{% extends 'sobnushdi/sobnushdi.html' %}

{% block content %}
    {% if request.user.is_authenticated %}
        <p class="title">{{title}}</p>
        <table>
            <tr>
                <th>№</th>
                <th>ФИО</th>
                <th>Дата рождения</th>
            </tr>
            {% for p in pers %}
                <tr>
                    <td>
                        <mark>{{ p.pk }}</mark>
                    </td>
                    <td>
                        {{ p.second_name }} {{ p.first_name }} {{ p.patronymic }}
                    </td>
                    <td>
                        {{ p.date_of_bird }}
                    </td>
                    <td>
                        <form action="{% url 'person_mod' p.pk %}">
                            <button type="submit">Изменить</button>
                        </form>
                    </td>
                    <td>
                        <form action="{% url 'statement_add' p.pk %}">
                            <button type="submit">Добавить заявление</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <form action="{% url 'person_add' %}" method="GET">
	        <button type="submit" >Добавить</button>
        </form>
    <div class="clear"></div>
    <div class="pagination">
        <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1" class="first_last">&laquo; Первая</a>
            <a href="?page={{ page_obj.previous_page_number }}" class="next_previous">Предыдущая</a>
        {% endif %}

        <span class="current">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="next_previous">Следующая</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="first_last">Последняя &raquo;</a>
        {% endif %}
        </span>
    </div>

    {% else %}
        <p>Авторизуйтесь</p>
    {% endif %}
{% endblock %}